<header>
    <div class="header-container">

        <a routerLink="/home" class="logo">
            <img src="logo-mattel-ucab.png" alt="Mattel Logo">
        </a>

        <div class="user-info">
            <a *ngIf="isLoggedIn" routerLink="/profile">
                <button class="login-button">
                    <img src="login-icon.png" alt="Login Icon">
                </button>
            </a>
            <a *ngIf="!isLoggedIn"routerLink="/login">
                <button class="login-button">
                    <img src="login-icon.png" alt="Login Icon">
                </button>
            </a>
        </div>

    </div>
</header>